/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../assets/img/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}
/**********************************************
*** DICE
**********************************************/

.dice-2 {
    top: 240px !important;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 128px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }


/* Input Styles */

/* Prompt #1 */
.wrapper__input--bg-1 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 10;
    position: relative;
}
.wrapper__prompt {
    width: 75%;
    /* height: 500px; */
    background-color: #efefef;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.intro__prompt {
    opacity: 1;
    display: flex;
    transition: all 200ms;
}

.prompt__header {
    margin-bottom: 1.5rem;
    font-size: 3.6rem;
    text-transform: uppercase;
    color: #EB4D4D;
    text-shadow: 0 5px 20px rgba(0,0,0,.21);
    font-weight: 300;
}
.prompt__intro {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #0d0d0d;
    text-align: center;
}
.prompt__intro--sub {
    font-size: 1rem;
}
.prompt__content {
    max-width: 50%;
}

.prompt__list {
    max-width: 60%;
}

.prompt__list--item {
    font-weight: 300;
    text-align: center;
    padding: 10px;
    color: #000;
}

.prompt__btn {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 12px 20px;
    /* border: 1px solid #000; */
    box-shadow: 0 5px 40px rgba(0,0,0,.2);
    background-color: #EB4D4D;
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
    transition: all 200ms;
    /* border-radius: 5px; */
}

.prompt__btn:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,.2);
    /* transform: scale(1.05); */
    background-color: #efefef;
    color: #000;
    /* border: 1px solid #efefef; */
    font-weight: 300;
}
.prompt__btn:active {
    box-shadow: 0 2px 40px rgba(0,0,0,.2);
    color: #fff;
    background-color: #000;
    /* transform: scale(.99); */
    font-weight: 300;
}

/* Prompt #2 */
.wrapper__input--bg-2 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 10;
    position: relative;
    display: none;
    opacity: 0;
}

.wrapper__prompt--2 {
    width: 65%;
    /* height: 500px; */
    background-color: #efefef;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    display: none;
    opacity: 0;
}

.prompt__intro--2 {
    font-size: 1.6rem;
}
.form {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    text-align: center;
}

.prompt__btn-2 {
    position: relative;
    /* width: initial; */
    left: initial;
    transform: none;
    margin-top: 0;
    margin-left: 20px;
}

.form__input {
    width: 180px;
    height: 3.3rem;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    font-weight: 200;
}

.form__submit {
    position: relative;
    width: 140px;
    left: 0;
    transform: translateX(0);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    /* text-transform: uppercase; */
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.form__submit:hover,
.form__submit:active {
     font-weight: 600;
}


@media only screen and (max-width: 1030px) {
    /* Prompt #1 */
    .prompt__header {
        margin-bottom: 1.5rem;
        font-size: 2.4rem;
    }
    .prompt__list {
        max-width: 100%;
    }

    /* Prompt #2 */
    .prompt__intro--2 {
        font-size: 1.4rem;
    }
    .prompt__intro--sub {
        font-size: 0.9rem;
    }
    .form {
        flex-direction: column;
    }
    .prompt__btn-2 {
        margin-top: 10px;
        margin-left: 0;
    }
    button.prompt__btn-2 {
        width: 180px;
    }

    /* Game board */
    .wrapper {
        width: 90vw;
    }
    .player-name {
        font-size: 26px;
    }
    .active .player-name::after {
        top: -15px;
        right: -20px;
    }

    .player-current-box {
        background-color: #EB4D4D;
        color: #fff;
        width: 80%;
}

@media only screen and (max-width: 811px) {

    .active .player-name::after {
        top: -15px;
        right: -40px;
    }
}

@media only screen and (max-width: 735px) {
    .prompt__header {
        font-size: 1.8rem;
    }

    .wrapper__prompt {
        width: 95%;
    }

    .active .player-name::after {
        top: -15px;
        right: 10px;
    }
    .player-0-panel, .player-1-panel {
        width: 50%;
        padding: 80px 40px 40px 40px;
    }

    .btn-roll {
        top: 483px;
    }

    .btn-hold {
        top: 537px;
    }
}

@media only screen and (max-width: 636px) {

    .active .player-name::after {
        top: -6px;
        right: 18px;
        font-size: 2rem;
    }

    .player-0-panel, .player-1-panel {
        padding: 80px 20px 40px 20px;
    }

    .dice {
        height: 80px;
        top: 148px;
    }

    .dice-2 {
        top: 240px !important;
    }

}

@media only screen and (max-width: 500px) {

    .active .player-name::after {
        top: -6px;
        right: -18px;
        font-size: 2rem;
    }
    .wrapper__prompt {
        padding: 2rem 1.2rem;
    }

    .wrapper__prompt--2 {
        width: 95%;
        padding: 2em;
    }

    .dice {
        height: 60px;
        top: 223px;
    }


    .dice-2 {
        top: 285px !important;
    }
    
    
}